{% extends 'layout.html' %}
{% set version = "website" %}
{% set hub = "Opt Out" %}
{% set backLink = true %}
{% set pageHeading = "Confirm your unsubscribe request" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form method="post" action="confirm-unsubscribe-request-post">

      {% from "radios/macro.njk" import radios %}

      {{ radios({
        idPrefix: "confirm-unsubscribe",
        name: "confirm-unsubscribe",
        errorMessage: { text: "Select an option" } if error,
        fieldset: {
          legend: {
            text: pageHeading,
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "keep",
            text: "Keep receiving age-based messages"
          },
          {
            value: "unsubscribe",
            text: "Unsubscribe from age-based messages"
          }
        ]
      }) }}

      {{ button({
        text: "Submit"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
