{% from "panel/macro.njk" import panel %}
{% extends 'layout-website.html' %}
{% set version = "website" %}
{% set hub = "Opt Out" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ panel({
      titleText: "You will continue to receive age-based messages.",
      titleSize: "l"
    }) }}

    <h2 class="nhsuk-heading-m">What happens next</h2>
    <p class="nhsuk-body">You do not need to do anything else. We will keep sending you timed reminders based on your baby's age.</p>

    <h2 class="nhsuk-heading-m">Before you leave this page</h2>
    <p class="nhsuk-body">You can:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="#" class="nhsuk-link">give feedback to help us improve this service</a></li>
      <li><a href="https://www.england.nhs.uk/contact-us/privacy-notice/" class="nhsuk-link">check how the NHS uses your data</a></li>
    </ul>

  </div>
</div>

{% endblock %}
