{% extends 'layout.html' %}
{% set version = "website" %}
{% set hub = "Opt Out" %}

{% block beforeContent %}
  {{ backLink({
    href: "/website/pages/opt-out/start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form method="post" action="do-you-know-nhs-number-answer">

      {{ radios({
        idPrefix: "knowsNhsNumber",
        name: "knowsNhsNumber",
        errorMessage: { text: "Select an option" } if error,
        fieldset: {
          legend: {
            text: "Do you know your NHS number?",
            size: "l",
            isPageHeading: true
          }
        },
        value: data.knowsNhsNumber,
        items: [
          {
            value: "Yes",
            text: "Yes, I know my NHS number"
          },
          {
            value: "No",
            text: "No, I do not know my NHS number"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
