{% extends 'layout.html' %}
{% set version = "website" %}
{% set hub = "Opt Out" %}
{% set backLink = true %}
{% set pageHeading = "Unsubscribe from Age-Based Messages" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

    <p>You were automatically signed up to receive timed reminders based on your baby's age, including information about appointments, check-ups and more.</p>

    <p>You can use this service to unsubscribe from these messages.</p>

    <p><strong>You'll need to confirm your identity before you can make changes.</strong></p>

    <p>We'll need your:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>NHS number</li>
      <li>or date of birth</li>
      <li>name</li>
      <li>postcode</li>
    </ul>

    {{ button({
      text: "Continue",
      href: "/website/pages/opt-out/preferences-1"
    }) }}

  </div>
</div>

{% endblock %}
