{% extends 'layout.html' %}
{% set version = "v5.3" %}
{% set hub = "Profile" %}
{% set backLink = true %}
{% set pageHeading = "Manage your contact preferences" %}
{% set pageDescription = "Description about what you can do." %}

{% block content %}

<nav class="nhsuk-breadcrumb nhsuk-u-margin-bottom-4" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">Home</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">NHS services</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">Communication</a>
    </li>
  </ol>
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a>

</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      
<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="symptoms-hint">
    <div class="nhsuk-hint" id="symptoms-hint">
      Select all the things you would like to be contacted about
    </div>
    <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="symptoms" name="symptoms" type="checkbox" value="sorethroat" data-checkbox-exclusive-group="symptoms-list">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms">
          Universal messages (Default. Core messages that every parent gets)
        </label>
      </div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="symptoms-2" name="symptoms" type="checkbox" value="runnynose" data-checkbox-exclusive-group="symptoms-list">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-2">
          Extended messages (Additional messages on an opt out basis)
        </label>
      </div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="symptoms-3" name="symptoms" type="checkbox" value="muscleorjointpain" data-checkbox-exclusive-group="symptoms-list">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-3">
          Anything else which might get added in the future
        </label>
      </div>
      <div class="nhsuk-checkboxes__divider">or</div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="symptoms-5" name="symptoms" type="checkbox" value="none" data-checkbox-exclusive data-checkbox-exclusive-group="symptoms-list">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-5">
          I do not want to be contacted about any of these things
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ button({
          text: "Save preferences",
          classes: "nhsapp-button"
        }) }}

    <p class="nhsuk-body">Find out more about your data protection rights 
      <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a>
    </p>

    </div>
  </div>

{% endblock %}
