{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Healthcare services | Register your baby with a GP" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}
      <div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-u-margin-bottom-5">Register your baby with a GP</h1>
        <h2 class="nhsuk-heading-m">Why you should register your baby</h2>
        <p>If you or your child get sick, a GP surgery is usually your first contact. They can help you if your baby gets ill or if you are worried about the baby's health. They can also refer you to other NHS services.</p>
        <p>Your child can be registered at a different surgery to you.</p>
        
        <h2 class="nhsuk-heading-m">Register for free</h2>
        <p>Everyone in England can register with a GP surgery, for free. You can also change your GP surgery for free.</p>
        
        <h2 class="nhsuk-heading-m">How to register your baby</h2>
        <p>You can register by:</p>
        <ul>
          <li>using the NHS website or app to register with a GP surgery</li>
          <li>downloading the register with a GP surgery paper form, filling it in and taking it to the surgery, or going to the surgery</li>
        </ul>
        <p>GP practices might ask for documents to help find you and your baby's details.</p>
        <p>You should bring your baby's 'red book' (Personal Child Health Record) with you. You can register with your GP even if you have not already registered the baby's birth.</p>
        
        <h2 class="nhsuk-heading-m">Found this useful? Sign up for email support for you and your baby</h2>
        <p>Sign up for free to receive regular emails tailored to your stage of pregnancy or your child's age.</p>
        
        <h2 class="nhsuk-heading-m">Don't want to receive messages like this?</h2>
        <p>You can opt out by emailing [address]</p>
      </div>
    </div>
  </div>
{% endblock %}