{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Healthcare services | Your 6 to 8 week maternal postnatal health consultation" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}
      <div class="nhsuk-u-margin-bottom-7">
        <p>This appointment happens 6 to 8 weeks after your child is born. It is to support your physical health and mental wellbeing. A health visitor will also see you and your baby separately to this GP appointment.</p>
        
        <p><strong>Preparing for your maternal consultation</strong></p>
        <p>To get the most from your appointment, it's helpful to:</p>
        <ul>
          <li>prepare a list of questions or concerns you may have</li>
          <li>arrange for someone to come with you if you want extra support</li>
        </ul>
        
        <p><strong>What to expect</strong></p>
        <p>A trained healthcare professional will:</p>
        <ul>
          <li>ask about your mental wellbeing</li>
          <li>ask about your birthing experience, especially if this was traumatic or unexpected</li>
          <li>follow up on any health issues you may have developed during/after pregnancy</li>
          <li>assess your pelvic health</li>
          <li>ask how feeding is going and any concerns with breastfeeding or breast health</li>
          <li>talk about contraception</li>
          <li>review any pre-existing medical problems and any conditions related to your pregnancy</li>
        </ul>
        <p>You do not need to wait for this appointment if you are worried about something. Contact your GP practice straight away if you have any concerns.</p>
        
        <p><strong>If you have not been contacted about an appointment</strong></p>
        <p>Contact your GP.</p>
        
        <p><strong>Found this useful? Sign up for email support for you and your baby</strong></p>
        <p>Sign up for free to receive regular emails tailored to your stage of pregnancy or your child's age.</p>
       
             <p><strong><u>If you do not want to receive these messages</u></strong></p>
<p>This is a trial of a new service. If you would like to opt out of receiving these messages please visit
https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/
</p>
    </div>
  </div>

  {% endblock %}
