{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Healthcare services | Your health visitor appointment" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">
Your health visitor appointment
    </h1>

      <div class="nhsuk-u-margin-bottom-7">
        <p>A health visitor is a qualified nurse or midwife who has had extra training.</p>
        <p>They're there to help you, your family and your new baby. Every parent is seen by a health visitor.</p>
        <p>They will normally visit you at your home. They will visit you and your family around 10 days after your baby is born. You will be contacted to confirm the appointment.</p>
        
        <h2 class="nhsuk-heading-m">What to expect</h2>
        <p>Your health visitor can help you with things like:</p>
        <ul>
          <li>bonding with your baby</li>
          <li>your mental health</li>
          <li>vaccinations and screening tests</li>
          <li>feeding your baby</li>
          <li>assess your baby's development</li>
        </ul>
        <p>You can talk about how things are going and ask any questions you have.</p>
        
        <h2 class="nhsuk-heading-m">Prepare for your visit</h2>
        <p>To get the most from your appointment, it's helpful to:</p>
        <ul>
          <li>prepare a list of questions or concerns about your health or your baby's development</li>
          <li>arrange for someone to be with you if you want extra support</li>
        </ul>
        
        <h2 class="nhsuk-heading-m">If you have not been contacted about an appointment</h2>
        <p>Contact your health visiting team or your midwife.</p>
        
        <h2 class="nhsuk-heading-m">Found this useful? Sign up for email support for you and your baby</h2>
        <p>Sign up for free to receive regular emails tailored to your stage of pregnancy or your child's age.</p>
        
        <h2 class="nhsuk-heading-m">Don't want to receive messages like this?</h2>
        <p>You can opt out by emailing [address]</p>
      </div>
    </div>
  </div>
{% endblock %}