{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Your 6 to 8 week maternal postnatal health consultation</h1>

        <p>This appointment happens 6 to 8 weeks after your child is born.</p>
        <p>It is to support your physical health and mental wellbeing. </p>
        <p>A health visitor will also see you and your baby separately to this GP appointment.</p>  
        
        <h2 class="nhsuk-heading-s">Preparing for your maternal consultation</h2>
        <p>To get the most from your appointment, it’s helpful to:</p>
        <ul>
          <li>prepare a list of questions or concerns you may have</li>
          <li>arrange for someone to come with you if you want extra support</li>
        </ul>

        <h2 class="nhsuk-heading-s">What to expect</h2>
        <p>A trained healthcare professional will:</p>
        <ul>
          <li>ask about your mental wellbeing</li>
          <li>arrange for someone to be with you if you want extra support</li>
          <li>ask about your birthing experience, especially if this was traumatic or unexpected</li>
          <li>follow up on any health issues you may have developed during/after pregnancy</li>
          <li>assess your pelvic health</li>
          <li>ask how feeding is going and any concerns with breastfeeding or breast health</li>
          <li>talk about contraception</li>
          <li>review any pre-existing medical problems and any conditions related to your pregnancy</li>
        </ul>   

<h2 class="nhsuk-heading-s">If you have not been contacted about an appointment</h2>
        <p>Contact your health visiting team or your midwife.</p>


        <h2 class="nhsuk-heading-s nhsuk-u-padding-top-9">Found this useful? Sign up for email support for you and your baby</h2>
        <p>Sign up for free to receive regular emails tailored to your stage of pregnancy or your child's age.</p>
        
        <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
        <p>This is a trial of a new service. If you would like to opt out of receiving these messages please visit https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/</p>
      </div>
    </div>
  </div>
{% endblock %}        