{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Healthcare services | How to start introducing solid foods" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}
      <div class="nhsuk-u-margin-bottom-7">
        <p><strong>When should my baby start solid foods?</strong></p>
        <p>The NHS recommends introducing solid foods when babies are around 6 months old.</p>
        
        <p><strong>How much food does my baby need?</strong></p>
        <p>In the beginning, your baby will only need a small amount of food each day. Don't worry about how much they eat.</p>
        <p>The important thing is trying new foods and flavours and learning to swallow solid food.</p>
        
        <p><strong>Does my baby still need milk?</strong></p>
        <p>Yes, breastmilk or infant formula should be your baby's main drink until they are 12 months old.</p>
        <p>As time goes on and your baby eats more solids, they may naturally want less breast milk or infant formula.</p>
        <p>Remember your baby's tummy is tiny and fills up quickly. Offer milk feeds after solids.</p>
        
        <p><strong>What if my baby doesn't want to eat?</strong></p>
        <p>It may take 10 tries or even more for your baby to get used to new foods, flavours and textures.</p>
        <p>There will be days when they eat more, some when they eat less. Some days they may reject everything. Don't worry – it's normal. Just keep offering a variety of foods – even the ones they don't seem to like – and let them get used to it in their own time.</p>
        
        <p><strong>How much sugar should my baby eat?</strong></p>
        <p>Babies don't need sweet or salty snacks or treats.</p>
        <p>Sweet drinks like squash, fizzy drinks, milkshakes and fruit juice can have lots of sugar too. Avoid these to help prevent tooth decay.</p>
        
        <p><strong>Introducing foods that could trigger allergies</strong></p>
        <p>Foods most likely to cause allergies (such as peanuts, eggs, or fish) can be introduced one at a time from around six months.</p>
        <p>Remember, peanuts should be crushed or ground to avoid choking.</p>
        <p>For more information on weaning and early years, visit Best Start in Life.</p>
        
        <p><strong>Found this useful? Sign up for email support for you and your baby</strong></p>
        <p>Sign up for free to receive regular emails tailored to your stage of pregnancy or your child's age.</p>
        
             <p><strong><u>If you do not want to receive these messages</u></strong></p>
<p>This is a trial of a new service. If you would like to opt out of receiving these messages please visit
https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/
</p>
    </div>
  </div>

  {% endblock %}
