{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Healthcare services | Advice on vitamins for babies and young children" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}
      <div class="nhsuk-u-margin-bottom-7">
        <h2 class="nhsuk-heading-m">Why vitamins matter</h2>
        <p>Babies and young children may not get enough vitamins A, C and D, even if they feed well. Vitamins help babies grow and stay healthy. Taking vitamins is sometimes called 'vitamin supplementation'.</p>
        
        <h2 class="nhsuk-heading-m">Advice on vitamins for babies and young children</h2>
        <p>All children aged 6 months to 5 years are recommended to take daily vitamins of A, C and D.</p>
        <p>Babies who have 500ml or more of formula a day do not need extra vitamins until they are having less formula.</p>
        <p>You can buy vitamins at your local pharmacy. If you are receiving NHS Healthy Start payments, you can get these vitamins for free.</p>
        
        <h2 class="nhsuk-heading-m">Questions about giving vitamins</h2>
        <p>Before giving your baby vitamin supplements, speak to your pharmacist or health visitor for advice on which vitamin you should give your child.</p>
        <p>Remember, supplements are not a replacement for healthy eating habits.</p>
        
        <h2 class="nhsuk-heading-m">Be careful not to double dose</h2>
        <p>Having too much of some vitamins can be harmful.</p>
        <p>Keep to the dose recommended on the label, and be careful not to give your child 2 supplements at the same time.</p>
        <p>Find out more about giving vitamins to children.</p>
        
        <h2 class="nhsuk-heading-m">Receive email support for you and your baby.</h2>
        <p>Our personalised emails are tailored to your pregnancy stage or your child's age.</p>
        
        <h2 class="nhsuk-heading-m">Found this useful? Sign up for email support for you and your baby</h2>
        <p>Our personalised weekly emails are tailored to your child's age.</p>
        <p>Sign up for free and receive trusted NHS advice including:</p>
        <ul>
          <li>feeding and taking care of your baby</li>
          <li>supporting your baby's health and development</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}