{% extends 'layout-app.html' %}
{% set version = "v4" %}

{% set hub = "Opt Out" %}

{% set backLink = true %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        What is your NHS number?
      </h1>
    </legend>

      <div class="nhsuk-hint">
        Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.
      </div>

<div class="nhsuk-form-group">
    <label class="nhsuk-label" for="nhs-number">
      Your NHS number
    </label>
    <input class="nhsuk-input" id="nhs-number" name="nhsNumber" type="text" autocomplete="given-name">
  </div>      





    
     
      {{ button({
        text: "Continue",
        classes: "nhsapp-button",
        href: "/" + version + "/pages/opt-out/enter-date-of-birth.html"
      }) }}

    </div>
  </div>

{% endblock %}
