{% extends 'layout-app.html' %}
{% set version = "v4" %}

{% set hub = "Opt Out" %}

{% set backLink = true %}


{% set pageHeading = "We need to check who you are before you can make your choice" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <p>We'll need your:</p>
      <ul clas="nhsuk-list">
        <li>Name</li>
        <li>Date of birth</li>
        <li>Postcode or NHS number</li>
      </ul>

     <p>We'll use these details to find your contact details from your health records so we can send you a security code.</p>
     
      {{ button({
        text: "Continue",
        classes: "nhsapp-button",
        href: "/" + version + "/pages/opt-out/enter-your-name.html"
      }) }}

     <p>
        <a href="https://your-data-matters.service.nhs.uk/privacy-notice" class="nhsuk-link--no-visited-state">How your data will be processed using this service</a> (opens in new window).
      </p>



    </div>
  </div>

{% endblock %}
