{% extends 'layout-app.html' %}
{% set version = "v5" %}

{% set hub = "Home" %}
{% set linkedProfile = true %}

{% set backLink = true %}

{% set pageHeading = "Your vaccinations" %}

{% block content %}

 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

            <!-- DYNAMIC PAGE TITLE -->
            {{ dynamicPageTitle({
              title: pageHeading,
              titleSecondary: true,
              description: pageDescription
            })}}
      

  <div class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
          <p>
            No information available.       
          </p>
        </div>
      </div>
    </div>


    
  </div>
 </div>

 {% endblock %}
