{% extends 'layout-app.html' %}
{% set version = "v5.3" %}

{% set hub = "Home" %}

{% set backLink = true %}

{% set pageHeading = "Prescriptions" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      <h2 class="app-card__section-heading">GP surgery</h2>

      {{ nhsappCard({
        title: "Request an emergency prescription",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}
