{% extends 'layout-app.html' %}
{% set version = "v5.2" %}

{% set hub = "Home" %}

{% set backLink = true %}

{% set pageHeading = "Your vaccinations" %}

{% block content %}

 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

            <!-- DYNAMIC PAGE TITLE -->
            {{ dynamicPageTitle({
              title: pageHeading,
              titleSecondary: true,
              description: pageDescription
            })}}
      

      <div class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <p class="nhsuk-heading-s">
              20 December 2024
            </p>
            <div class="nhsapp-card__below">
              <p class="nhsuk-u-margin-top-4">
                Seasonal flu vaccination given by pharmacist
                <br>
                1              
              </p>
            </div>                
          </div>
        </div>
      </div>

  <div class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <p class="nhsuk-heading-s">
          16 May 2021
        </p>
        <div class="nhsapp-card__below">
          <p class="nhsuk-u-margin-top-4">
            Comimaty COVID-19 mRNA Vaccine 30micrograms/0.3 dose concentrate for dispersion for injection multidose vitals (Pfizer Ltd)
            <br>
            0.3 ml intramuscular
            <br>
            0.3 ml             
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
        <p class="nhsuk-heading-s">
          19 March 2018
        </p>
        <div class="nhsapp-card__below">
          <p class="nhsuk-u-margin-top-4">
            Booster yellow fever vaccine            
            <br>
            1 intramuscular
            <br>
            0.3 ml             
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsapp-card">
    <div class="nhsapp-card__container">
      <div class="nhsapp-card__content">
          <p>
            No further information available          
          </p>
        </div>
      </div>
    </div>


    <p>You may see medical abbreviations that you are not familiar with.</p>

    {{ actionLink({
      text: "Help with abbreviations",
      href: "#"
    }) }}

    
  </div>
 </div>

 {% endblock %}
