{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/v1/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% set version = 'v1' %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}
      <div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Register your baby with a GP</h1>
        <h2 class="nhsuk-heading-s">Why you should register your baby</h2>
        <p>If you or your child get sick, a GP surgery is usually your first contact.</p>
        <p>They can help you if your baby gets ill or if you are worried about the baby’s health. They can also refer you to other NHS services.</p>
        <p>Your child can be registered at a different surgery to you. </p>
        
        <h2 class="nhsuk-heading-s">Register for free</h2>
        <p>Everyone in England can register with a GP surgery, for free. You can also change your GP surgery for free.</p>
        
        <h2 class="nhsuk-heading-s">How to register your baby</h2>
        <p>You can register by:</p>
        <ul>
          <li>using the NHS website or app to register with a GP surgery</li>
          <li>downloading the register with a GP surgery paper form, filling it in and taking it to the surgery, or going to the surgery</li>
        </ul>
        <p>You can register with your GP even if you have not already registered the baby’s birth.</p>
        
        <h2 class="nhsuk-heading-s nhsuk-u-padding-top-9">Found this useful? Sign up for email support for you and your baby</h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/best-start-in-life-emails/">Sign up for free</a> to receive regular emails tailored to your child's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
    </div>
  </div>
{% endblock %}