{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/v1/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% set version = 'v1' %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Your health visitor appointment</h1>

        <p>A health visitor is a qualified nurse or midwife who has had extra training.</p>
        <p>They're there to help you, your family and your new baby.</p>
        <p>Every parent is seen by a health visitor. They will normally visit you at your home. </p>
        <p>They will visit you and your family around 10 days after your baby is born. </p>
        <p>You will be contacted to confirm the appointment.</p>
  
        
        <h2 class="nhsuk-heading-s">What to expect</h2>
        <p>Your health visitor can help you with things like:</p>
        <ul>
          <li>bonding with your baby</li>
          <li>your mental health</li>
          <li>vaccinations and screening tests</li>
          <li>feeding your baby</li>
        </ul>

        <h2 class="nhsuk-heading-s">Assess your baby's development</h2>
        <p>You can talk about how things are going and ask any questions you have.</p>

        <h2 class="nhsuk-heading-s">Prepare for your visit</h2>
        <p>To get the most from your appointment, it’s helpful to:</p>
        <ul>
          <li>prepare a list of questions or concerns about your health or your baby’s development</li>
          <li>arrange for someone to be with you if you want extra support</li>
        </ul>


        <h2 class="nhsuk-heading-s">If you have not been contacted about an appointment</h2>
        <p>Contact your health visiting team or your midwife.</p>

        <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support<>/h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/best-start-in-life-emails/">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>

    </div>
  </div>
{% endblock %}