{% extends 'layout-app.html' %}
{% set hub = "Messages" %}
{% set backLink = true %}
{% set backLinkURL = "/v1/pages/messages/your-messages-abm" %}
{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}
{% set version = 'v1' %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Your 6 to 8 week maternal postnatal health consultation</h1>

        <p>This appointment happens 6 to 8 weeks after your child is born.</p>
        <p>It is to support your physical health and mental wellbeing. </p>
        <p>A health visitor will also see you and your baby separately to this GP appointment.</p>  
        
        <h2 class="nhsuk-heading-s">Preparing for your maternal consultation</h2>
        <p>To get the most from your appointment, it’s helpful to:</p>
        <ul>
          <li>prepare a list of questions or concerns you may have</li>
          <li>arrange for someone to come with you if you want extra support</li>
        </ul>

        <h2 class="nhsuk-heading-s">What to expect</h2>
        <p>A trained healthcare professional will:</p>
        <ul>
          <li>ask about your mental wellbeing</li>
          <li>arrange for someone to be with you if you want extra support</li>
          <li>ask about your birthing experience, especially if this was traumatic or unexpected</li>
          <li>follow up on any health issues you may have developed during/after pregnancy</li>
          <li>assess your pelvic health</li>
          <li>ask how feeding is going and any concerns with breastfeeding or breast health</li>
          <li>talk about contraception</li>
          <li>review any pre-existing medical problems and any conditions related to your pregnancy</li>
        </ul>   

<h2 class="nhsuk-heading-s">If you have not been contacted about an appointment</h2>
        <p>Contact your health visiting team or your midwife.</p>


             <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support<>/h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/best-start-in-life-emails/">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>

    </div>
  </div>
{% endblock %}        