{% extends 'layout-app.html' %}
{% set version = "v3" %}
{% set hub = "Messages" %}
{% set abmContext = true %}
{% set backLink = true %}

{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">How to start introducing solid foods</h1>

        <h2 class="nhsuk-heading-s">When should my baby start solid foods?</h2>
        <p>The NHS recommends <a href="https://www.nhs.uk/best-start-in-life/baby/weaning/how-to-start-weaning-your-baby/">introducing solid foods</a> when babies are around 6 months old.</p>

        <h2 class="nhsuk-heading-s">How much food does my baby need</h2>
        <p>In the beginning, your baby will only need a small amount of food each day. Don't worry about how much they eat.</p>
        <p>The important thing is trying new foods and flavours and learning to swallow solid food.</p>
        <p>How much your baby eats depends on their appetite, so let your baby guide you on how much food they need.</p>

        <h2 class="nhsuk-heading-s">Does my baby still need milk?</h2>
        <p>Yes, breastmilk or infant formula should be your baby's main drink until they are 12 months old.</p>
        <p>As time goes on and your baby eats more solids, they may naturally want less breast milk or infant formula.</p>
        <p>Remember your baby's tummy is tiny and fills up quickly. Offer milk feeds after solids.</p>

        <h2 class="nhsuk-heading-s">What if my baby doesn't want to eat?</h2>
        <p>It may take 10 tries or even more for your baby to get used to new foods, flavours and textures.</p>
        <p>There will be days when they eat more, some when they eat less. Some days they may reject everything. Don't worry – it's normal.</p>
        <p>Just keep offering a variety of foods – even the ones they don't seem to like – and let them get used to it in their own time.</p>

        <h2 class="nhsuk-heading-s">How much sugar should my baby eat?</h2>
        <p>Babies don't need sweet or salty snacks or treats.</p>
        <p>Sweet drinks like squash, fizzy drinks, milkshakes and fruit juice can have lots of sugar too. Avoid these to help prevent tooth decay.</p>

        <h2 class="nhsuk-heading-s">Introducing foods that could trigger allergies</h2>
        <p>Foods most likely to cause allergies (such as peanuts, eggs, or fish) can be introduced one at a time from around six months.</p>
        <p>Remember, peanuts should be crushed or ground to avoid choking.</p>
        <p><a href="https://www.nhs.uk/best-start-in-life/baby/weaning/safe-weaning/food-allergies/">Read </a>how to introduce foods safely.</p>

          <p>Every baby is different. If your baby was premature, you may wish to discuss timing with a health visitor. If you are concerned about your baby's development or readiness to start solid foods, it is best to speak to your GP or health visitor.</p>

             <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support</h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/start-for-life-emails/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="http://digital.nhs.uk/developer/api-catalogue/digital-child-health-fhir/digital-best-start-age-based-messaging-privacy-statement">privacy notice.</a>

    </div>
  </div>
  </div>
{% endblock %}        