{% extends 'layout.html' %}
{% set version = "v6" %}

{% set hub = "Opt Out" %}

{% set backLink = true %}
{% set pageHeading = "Your preference has been saved." %}
{% set pageDescription = "This is to confirm that you will no longer receive age-based messages from us." %}



{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ panel({
    titleText: "You will no longer receive age-based messages."
    }) }}
    <h2 class="nhsuk-heading-m">What happens next</h2>
    <p class="nhsuk-body">It may take up to one working day to update your preference.</p>
    <p class="nhsuk-body"> You can find support and guidance for you and your baby at <a href="https://www.nhs.uk/best-start-in-life/" class="nhsuk-link--no-visited-state">Best Start in Life</a>.</p>
    <h2 class="nhsuk-heading-m">Before you leave this page</h2>
    <p class="nhsuk-body">You can: </p>
    <ul>
      <li><a href="https://www.england.nhs.uk/contact-us/feedback-and-complaints/complaint/" class="nhsuk-link--no-visited-state">give feedback to help us improve this service</a></li>
      <li><a href="https://www.england.nhs.uk/contact-us/privacy-notice/" class="nhsuk-link nhsuk-link--no-visited-state">check how the NHS uses your data</a></li>
    </ul>

  </div>
</div>
{% endblock %}
