{% extends 'layout.html' %}
{% set version = "v6" %}

{% set hub = "Opt Out" %}

{% set backLink = true %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form method="post" action="/v6/pages/opt-in/enter-your-nhs-number-post">

        {% if error %}
          <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
              <ul class="nhsuk-list nhsuk-error-summary__list">
                <li>
                  <a href="#your-nhs-number">Enter your NHS number</a>
                </li>
              </ul>
            </div>
          </div>
        {% endif %}

        <div class="nhsuk-form-group {% if error %}nhsuk-form-group--error{% endif %}">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What is your NHS number?
            </h1>
          </legend>

          <div class="nhsuk-hint">
            Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.
          </div>

          {% if error %}
            <span class="nhsuk-error-message" id="nhsuk-number-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> Enter your NHS number
            </span>
          {% endif %}

          {% from "input/macro.njk" import input %}

          {{ input({
          id: "your-nhs-number",
          name: "your-nhs-number",
          classes: "nhsuk-input--width-20"
          }) }}

        </div>

    {{ button({
    text: "Continue",
    classes: "nhsapp-button"
    }) }}

        </form>

    </div>
</div>

{% endblock %}
