{% extends 'layout.html' %}
{% set version = "v6" %}
{% set hub = "Profile" %}
{% set backLink = true %}
{% set pageHeading = "Do you want to unsubscribe from age-based messages?" %}

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ dynamicPageTitle({
    title: pageHeading,
    titleSmall: true,
    titleHiddenTextBefore: "Message from"
    })}}
      <form method="post" action="preferences-1-post">
    {{ radios({
idPrefix: "opt-in-preferences",
name: "opt-in-preferences",

items: [
{
value: "receive",
text: "I do not want to unsubscribe from age-based messages"
},
{
value: "dont-receive",
text: "I want to unsubscribe from age-based messages"
}
]
}) }}
    {{ button({
    text: "Save",
    classes: "nhsapp-button"
    }) }}
      </form>


  </div>
</div>

{% endblock %}