{% extends 'layout-app.html' %}
{% set version = "v6" %}

{% set hub = "Profile" %}

{% set linkedProfile = true %}


{% set pageHeading = "Profile" %}
{% set pageDescription = "Change your NHS App settings and personal details" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>
      
      <div class="nhsapp-cards nhsapp-cards--stacked app-cards--blue">
        <div class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <h2 class="app-dynamic-page-title__name nhsuk-heading-l nhsuk-u-margin-bottom-1">{{ data['linkedProfileFirstName'] }} {{ data['linkedProfileLastName'] }}</h2>
              <p class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0"><strong>Age:</strong> {{ data['linkedProfileAge'] }}</p>
              <p><strong>NHS number:</strong> {{ data['nhsNumber'] }}</p>
            </div>
          </div>
        </div>
        <div class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <form id="switchProfile" action="/{{ version }}/pages/profile/switch-profiles-back" method="post" novalidate>
                <input type="hidden" name="accountType" value="p9">
                <a onclick="document.getElementById('switchProfile').submit();" href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
                  Switch back to your profile
                </a>
              </form>
            </div>
            <svg class="nhsapp-icon nhsapp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2em" width="2em" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"></path>
            </svg>
          </div>
        </div>
      </div>

      <h2 class="app-card__section-heading">Personal details</h2>

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Birth details",
            href: "/" + version + "/pages/baby/birth-details"
          }
          ]
      })}}


    </div>
  </div>

{% endblock %}
