{% extends 'layout-app.html' %}
{% set version = "v2" %}
{% set hub = "Messages" %}
{% set backLink = true %}

{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Your 6 to 8 week maternal postnatal health consultation</h1>

        <p>This appointment happens 6 to 8 weeks after your child is born.</p>
        <p>It is to support your physical health and mental wellbeing. </p>
        <p>A health visitor will also see you and your baby separately to this appointment.</p>  
        
        <h2 class="nhsuk-heading-s">Preparing for your maternal consultation</h2>
        <p>To get the most from your appointment, it's helpful to:</p>
        <ul>
          <li>prepare a list of questions or concerns you may have</li>
          <li>arrange for someone to come with you if you want extra support</li>
        </ul>

        <h2 class="nhsuk-heading-s">What to expect</h2>
        <p>A trained healthcare professional will:</p>
        <ul>
          <li>ask about your mental wellbeing</li>
          <li>arrange for someone to be with you if you want extra support</li>
          <li>ask about your birthing experience, especially if this was traumatic or unexpected</li>
          <li>follow up on any health issues you may have developed during/after pregnancy</li>
          <li>assess your pelvic health</li>
          <li>ask how feeding is going and any concerns with breastfeeding or breast health</li>
          <li>talk about contraception</li>
          <li>review any pre-existing medical problems and any conditions related to your pregnancy</li>
        </ul>   
        <p>Read more about <a href="https://www.nhs.uk/baby/support-and-services/your-6-week-postnatal-check/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app"> your 6-week postnatal check</a>.</P>


 <h2 class="nhsuk-heading-s">If you are worried about something</h2>
        <p>You do not need to wait for this appointment if you are worried about something. Contact your GP practice straight away if you have any concerns.</p>
<h2 class="nhsuk-heading-s">If you have not been contacted about an appointment</h2>
        <p>Contact your GP.</p>
             <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support</h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/start-for-life-emails/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="http://digital.nhs.uk/developer/api-catalogue/digital-child-health-fhir/dch-privacy-notice">privacy notice.</a>

    </div>
  </div>
{% endblock %}        