{% extends 'layout-app.html' %}
{% set version = "v2" %}
{% set hub = "Messages" %}
{% set backLink = true %}

{% set pageHeading = "Share your feedback to help us" %}


{% set pageDescription = "Received today at 1:02pm" %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
       <p class="nhsuk-body">You've received messages designed to help support you and your child.</p>
                                 <p>Please help us improve these messages we send to parents like you, by <a href="https://feedback.digital.nhs.uk/jfe/form/SV_5stYxrVzxtgN9s2">sharing your feedback in this short survey.</a>.</p>
                                 <p> It should only take 2-3 minutes to complete.</p>
        
      </div>
            <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support</h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/start-for-life-emails/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app"">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>

    </div>
  </div>
{% endblock %}        