{% extends 'layout-app.html' %}
{% set version = "v2" %}

{% set backLink = true %}
{% set backLinkURL = "pages/all-pages" %}

{% set pageHeading = "All ABM Message" %}


{% block content %}

<style>
  .message-content {
    display: none;
  }

  .message-content.active {
    display: block;
  }

  .app-sub-navigation__link.active {
    font-weight: bold;
    color: #003087;
  }

  .sms-style {
    position: relative;
    max-width: 400px;
    padding: 16px;
    padding-bottom: 4px;
    border-radius: 16px;
    background-color: #eceef0;
    font-family: Helvetica, Arial, sans-serif;
  }
</style>

<div class="nhsuk-grid-row">
    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent">
            <h1 class="nhsuk-heading-l nhsuk-u-padding-bottom-4">
                All ABM Message
            </h1>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                    <nav class="app-sub-navigation" aria-labelledby="sub-navigation-heading">
                        <h2 class="nhsuk-u-visually-hidden" id="sub-navigation-heading">Pages in this section</h2>
                        <ul class="nhsuk-list">
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link active" href="#" data-section="intro-message" aria-current="true">1 - Intro Message</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="gp-registration">2 - GP Registration</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="health-visitor">3 - Health Visitor</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="maternal-check">4 - Maternal Check</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="baby-check">5 - Baby Check</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="weaning-1">6 - Weaning 1</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="weaning-2">7 - Weaning 2</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="vitamins">8 - Vitamins</a>
                            </li>
                            <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
                                <a class="app-sub-navigation__link message-link" href="#" data-section="feedback">9 - Feedback Cohort 1</a>
                            </li>
                         <li class="app-sub-navigation__section-item nhsuk-u-padding-bottom-2">
  <a class="app-sub-navigation__link message-link" href="#" data-section="feedback-2">10 - Feedback Cohort 2</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="nhsuk-grid-column-three-quarters">
                    <!-- Intro Message Content -->
                    <article id="intro-message" class="message-content active">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Intro Message
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">As part of the NHS support to babies, parents and families, you will receive a series of messages relevant to your baby's age.</p><br><p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p><br>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                        </div>
                            </div>
                        </div>
                    </article>

                    <!-- GP Registration Content -->
                    <article id="gp-registration" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    GP Registration
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Register your baby with a GP.</p>
 <p class="nhsuk-body">If you or your child get sick, a GP surgery is usually your first contact.</p>
        <p class="nhsuk-body">They can help you if your baby gets ill or if you are worried about the baby's health. They can also refer you to other NHS services.</p>
                          <p class="nhsuk-body"><a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=sms">Register here </a>to get help and support when it matters</p>
                        <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                                              
                        </p>
                            </div>
                        </div>
                    </article>
                    </article>

                    <!-- Health Visitor Content -->
                    <article id="health-visitor" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Health Visitor
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Your health visitor appointment is soon.</p>
                          <p class="nhsuk-body">A health visitor is a qualified nurse or midwife who has had extra training. They're there to help you and your new baby.</p>
                          <p class="nhsuk-body">Every parent is seen by a health visitor. They will normally visit you at your home around 10 days after your baby is born.</p>
<p class="nhsuk-body">You can talk to your health visitor about how things are going and ask any questions you have.</p>
<p class="nhsuk-body">They can help you with things like:
* bonding with your baby<br>
* your mental health<br>
* vaccinations and screening tests<br>
* feeding your baby</p>
 <p class="nhsuk-body">To get the most from your appointment, it's helpful to prepare a list of questions or concerns about your health or your baby's development. </p> <p class="nhsuk-body">You can also arrange for a family member or friend to be with you for the visit.</p>
                          <p class="nhsuk-body">If you have not been contacted about an appointment contact your health visiting team or your midwife.</p>
                          <p class="nhsuk-body">You do not need to wait for this appointment if you are worried about something.</p>
                          <p class="nhsuk-body">Contact your GP practice straight away if you have any concerns.</p>
<p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>

                        </div>
                            </div>
                        </div>
                    </article>

                    <!-- Template 3 -->
                    <article id="maternal-check" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Maternal Check
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Your 6–8 week postnatal health check is soon.</p>
                          <p class="nhsuk-body"><a href="https://www.nhs.uk/baby/support-and-services/your-6-week-postnatal-check/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=sms">Find out what to expect</a> and how this visit supports you and your baby's health.</p>
                          <p class="nhsuk-body">If you have not been contacted about an appointment contact your GP</p>
                          <p class="nhsuk-body">You do not need to wait for this appointment if you are worried about something. Contact your GP straight away if you have any concerns.</p>
                         <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                        </div>
                            </div>
                        </div>
                    </article>

                    <!-- Template 4 -->
                    <article id="baby-check" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Baby Check
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Your baby's 6–8 week health check is soon.</p>
                          <p class="nhsuk-body"><a href="https://www.nhs.uk/baby/newborn-screening/physical-examination/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=sms">Find out what to expect</a> and how this visit supports you and your baby's health.</p>
                          <p class="nhsuk-body">If you have not been contacted about an appointment contact your GP</p>
                          <p class="nhsuk-body">You do not need to wait for this appointment if you are worried about something. Contact your GP straight away if you have any concerns.<p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                        </div>
                            </div>
                        </div>
                    </article>

                    <!-- Template 5 -->
                    <article id="weaning-1" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Weaning 1
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Thinking about weaning? Don't begin too early.</p>
                          <p class="nhsuk-body">The NHS recommends introducing solid food from around 6 months old.</p>
                          <p class="nhsuk-body"><a href="https://www.nhs.uk/best-start-in-life/baby/weaning/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=sms">Get trusted NHS weaning advice</a></p>
                         <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                        </div>
                            </div>
                        </div>
                    </article>

                    <!-- Template 6 -->
                    <article id="weaning-2" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Weaning 2
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Wondering how to start introducing solid foods?</p>
                          <p class="nhsuk-body"><a href="https://www.nhs.uk/best-start-in-life/baby/weaning/how-to-start-weaning-your-baby/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=sms">Get trusted NHS weaning advice</a></p>
                          
                        <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                        </div>
                            </div>
                        </div>
                    </article>

                    <!-- Template 7 -->
                    <article id="vitamins" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Vitamins
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">Vitamins help your baby's healthy development. The NHS recommends breastfed babies have vitamin D supplements from birth.</p>                  <p class="nhsuk-body">All children aged 6 months to 5 years are recommended to take daily vitamins of A, C and D.</p>
                            <p class="nhsuk-body">                            Babies who have 500ml or more of formula a day do not need extra vitamins until they are having less formula.</p>
                          <p class="nhsuk-body">Be careful not to double dose. Having too many of some vitamins can be harmful.</p>
                          <p class="nhsuk-body">If your child has already been prescribed vitamins, consult your health visitor, doctor or pharmacist.</p>
                          <p class="nhsuk-body">More NHS <a href="https://www.nhs.uk/baby/weaning-and-feeding/vitamins-for-children/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=sms">advice about giving vitamins to children.</a></p>
                     <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
                            </div>
                        </div>
                    </article>

                    <!-- Template 8 -->
                    <article id="feedback" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Feedback - cohort 1
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">You've received messages designed to help support you and your child.</p>
                          <p class="nhsuk-body">Please help improve them by <a href="https://feedback.digital.nhs.uk/jfe/form/SV_5stYxrVzxtgN9s2">sharing your feedback in this short survey.</a></p>
                     <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
  </div>
                            </div>
                        </article>
                </div>

           
<!-- Template 9 -->
                    <article id="feedback-2" class="message-content">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                                    Feedback - cohort 2
                                </h2>
                        <div class="sms-style">
                          <p class="nhsuk-body">You've received messages designed to help support you and your child.</p>
                          <p class="nhsuk-body">Please help improve them by <a href="https://feedback.digital.nhs.uk/jfe/form/SV_cv7KNJlospdIvrM">sharing your feedback in this short survey.</a></p>
                     <p class="nhsuk-body">This is a trial of a new service. If you do not want to receive these messages you can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
          <p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="https://www.nhs.uk/insertprivacyurl">privacy notice.</a>
  </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </main>
    </div>
</div>





<script type="module">
  // Handle hash changes from URL
  function handleHashChange() {
    const hash = window.location.hash.slice(1);
    if (hash) {
      const link = document.querySelector(`[data-section="${hash}"]`);
      if (link) {
        activateSection(hash, link);
      }
    }
  }

  // Activate a section
  function activateSection(sectionId, link) {
    // Remove active class from all links and content
    document.querySelectorAll('.message-link').forEach(l => {
      l.classList.remove('active');
    });
    document.querySelectorAll('.message-content').forEach(article => {
      article.classList.remove('active');
    });
    
    // Add active class to clicked link and corresponding content
    link.classList.add('active');
    document.getElementById(sectionId).classList.add('active');
  }

  // Add click handlers to links
  document.querySelectorAll('.message-link').forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      const sectionId = link.dataset.section;
      
      // Update URL hash
      window.location.hash = sectionId;
      
      // Activate the section
      activateSection(sectionId, link);
    });
  });

  // Handle back/forward buttons
  window.addEventListener('hashchange', handleHashChange);

  // Set initial section from URL hash on page load
  window.addEventListener('load', handleHashChange);
</script>

{% endblock %}
