{% extends 'layout-website.html' %}
{% set version = "website" %}
{% set hub = "Opt Out" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form method="post" action="confirm-unsubscribe-request-answer">

      {{ radios({
        idPrefix: "confirmUnsubscribe",
        name: "confirmUnsubscribe",
        errorMessage: { text: "Select an option" } if error,
        fieldset: {
          legend: {
            text: "Confirm your unsubscribe request",
            size: "l",
            isPageHeading: true
          }
        },
        value: data.confirmUnsubscribe,
        items: [
          {
            value: "Keep receiving age-based messages",
            text: "Keep receiving age-based messages"
          },
          {
            value: "Unsubscribe from age-based messages",
            text: "Unsubscribe from age-based messages"
          }
        ]
      }) }}

      {{ button({
        text: "Submit"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
