{% from "summary-list/macro.njk" import summaryList %}
{% extends 'layout.html' %}
{% set version = "v5.4" %}

{% set hub = "Opt Out" %}



{% set pageHeading = "Check your details" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Check your details
      </h1>
    </legend>


    {{ summaryList({
    rows: [
    {
    key: {
    text: "Name"
    },
    value: {
    text: "Joe Bloggs"
    },
    actions: {
    items: [
    {
    href: "/" + version + "/pages/opt-in/preferences-1.html",
    text: "Change",
    visuallyHiddenText: "name"
    }
    ]
    }
    },
    {
    key: {
    text: "Date of birth"
    },
    value: {
    text: "01 06 1990"
    },
    actions: {
    items: [
    {
    href: "/" + version + "/pages/opt-out/enter-your-date-of-birth.html",
    text: "Change",
    visuallyHiddenText: "date of birth"
    }
    ]
    }
    },
    {
    key: {
    text: "Postcode"
    },
    value: {
    text: "SW1 1TH"
    },
    actions: {
    items: [
    {
    href: "/" + version + "/pages/opt-out/enter-your-postcode.html",
    text: "Change",
    visuallyHiddenText: "change postcode"
    }
    ]
    }
    }
    ]
    }) }}
    {{ button({
    text: "Confirm",
    classes: "nhsapp-button",
    href: "/" + version + "/pages/opt-in/preferences-1.html"
    }) }}
  </div>
</div>
{% endblock %