{% extends 'layout-app.html' %}
{% set version = 'v1' %}
{% set hub = "Home" %}
{% set pageHeading = "Text message" %}
{% block content %}
         
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-heading-s">Blood spot results text</h2>
                <article class="prototype-text" 
                style="position: relative; 
                        max-width: 400px;
                        padding: 16px;
                        padding-bottom: 4px;
                        border-radius: 16px;
                        background-color: #eceef0;
                        font-family: Helvetica, Arial, sans-serif;
                        max-width: 400px;
                        ">
                  <p class="nhsuk-body">Give or refuse consent for Georgie Crist to have their MenACWY and Td/IPV vaccinations:</p>
                  <p class="nhsuk-body"><a class="nhsuk-link" href="/give-or-refuse-consent/235/start">https://give-or-refuse-consent.nhs.uk/235</a></p>
                  <p class="nhsuk-body">You need to do this by Friday, 24 April 2026.</p>
                  <p class="nhsuk-body">Responding will take less than 5 minutes.</p>
                </article>
              </div>
          </div>
        </div>
      </div>
      </main> 
    </div>
  </div>
  

{% endblock %}