{% extends 'layout-app.html' %}
{% set version = "v5.1" %}

{% set hub = "Linked profiles" %}

{% set backLink = true %}


{% set pageHeading = "Manage health services for others" %}
{% set pageDescription = "Support family members and people you care for, or allow them to help you" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      <h2 class="nhsuk-heading-s">
        People you can access services for
      </h2>

    <p>You do not currently have anyone added to your NHS App.</p>

      <h2 class="nhsuk-heading-s">
        Add people
      </h2>
      

      <p>You can only add people at the same GP surgery as you.</p>

      <ul class="nhsapp-cards nhsapp-cards--stacked">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/{{ version }}/pages/profile/proxy-apply">
                Apply to access services for someone else
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state" href="/{{ version }}/pages/your-health/referrals">
                Give someone you trust access to your services
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
    
    </div>
  </div>

  {% endblock %}

