{% extends 'layout-app.html' %}
{% set version = "v5.1" %}

{% set hub = "Home" %}

{% set backLink = true %}

{% set pageHeading = "Vaccinations" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-u-margin-bottom-5">{{ pageHeading }}</h1>

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Check and book an RSV vaccination",
            href: "/" + version + "/pages/vaccinations/book-or-check-vaccinations"
          },
                    {
            title: "Book, cancel or change a COVID-19 vaccination appointment",
            href: "#"
          },
                    {
            title: "Book or cancel a free NHS flu vaccination at a pharmacy",
            href: "#"
          },
          {
            title: "Your vaccinations",
            href: "/" + version + "/pages/vaccinations/vaccine-record"
          },
          {
            title: "COVID-19 vaccinations",
            href: "#"
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
