{% extends 'layout-app.html' %}
{% set version = "v5.3" %}

{% set hub = "Profile" %}

{% set backLink = true %}

{% set pageHeading = "Health conditions" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}


      <!-- PANEL LINK CARD - Your health -->
      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Allergies and adverse reactions",
            href: "/" + version + "/pages/profile/allergies"
          },
          {
            title: "All health conditions",
            href: "/" + version + "/pages/profile/healthconditions-warning-screen"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}