{% extends 'layout-app.html' %}
{% set version = "v6" %}
{% set hub = "Messages" %}
{% set backLink = true %}

{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Your baby’s 6 to 8 week health check</h1>

        <p>This appointment happens with the GP 6 to 8 weeks after your child is born.</p>
        <p>It's to check for any general problems with your baby.</p>
        <p>This is so any potential issues can be identified and treated as early as possible.</p>
        <p>A health visitor will also see you and baby separately to this GP appointment for a full health and development review.</p>
        
        <h2 class="nhsuk-heading-s">What to expect</h2>
        <p>This check focuses on how your baby is developing including to make sure everything is progressing as expected.</p>
        <p>It specifically looks for any issues with their:</p>
        <ul>
          <li>eyes</li>
          <li>heart</li>
          <li>hips</li>
          <li>testicles (balls), if they're a boy</li>
          <li>growth and development</li>
        </ul>
        <p>This helps to find any problems so they can be treated as early as possible.</p>
        <p>Read more about <a href="https://www.nhs.uk/baby/newborn-screening/physical-examination/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">your baby's 6-week check</a>.</P>

        <h2 class="nhsuk-heading-s">How to prepare for your baby consultation</h2>
        <p>To get the most from your consultation, it's helpful to:</p>
        <ul>
          <li>think about or write down any concerns or questions you have about your baby's health, feeding, or development</li>
          <li>bring your baby's red book (Personal Child Health Record)</li>
        </ul>   

        <h2 class="nhsuk-heading-s">If you are worried about something</h2>
        <p>You do not need to wait for this appointment if you are worried about something. Contact your GP practice if you have any concerns.</p>
        <h2 class="nhsuk-heading-s">If you have not been contacted about an appointment</h2>
        <p>Contact your GP.</p>

        <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support</h2>
        <p><a href="https://www.nhs.uk/best-start-in-life/start-for-life-emails/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="http://digital.nhs.uk/developer/api-catalogue/digital-child-health-fhir/dch-privacy-notice">privacy notice.</a>

    </div>
  </div>
{% endblock %}        