{% extends 'layout-app.html' %}
{% set version = "v5.5" %}
{% set hub = "Messages" %}
{% set backLink = true %}

{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}
      <div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Register your baby with a GP</h1>
        <p>If you or your child get sick, a GP (General Practitioner) or doctors' surgery is usually your first point of contact.</p>
        <p>They can help you if your baby gets ill or if you are worried about the baby's health. They can also refer you to other NHS services.</p>
        <p>Your child can be registered at a different surgery to you. </p>
        
        <h2 class="nhsuk-heading-s">Register for free</h2>
        <p>Everyone in England can register with a GP surgery, for free. You can also change your GP surgery for free.</p>
        
        <h2 class="nhsuk-heading-s">How to register your baby</h2>
        <p>If you haven't registered already, you can register by:</p>
        <ul>
          <li>using the NHS website or NHS app to <a href="https://www.nhs.uk/service-search/find-a-gp?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">register with a GP surgery</a></li>
          <li>downloading the <a href="https://gp-registration.nhs.uk/register-with-a-gp-surgery-paper-form?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">register with a GP surgery paper form</a>, filling it in and taking it to the surgery</li>
          <li>or going to the surgery</li>
        </ul>
        <p>You can register with a GP even if you have not already registered the baby’s birth.</p>

        <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support</h2>
        </p><p><a href="https://www.nhs.uk/best-start-in-life/start-for-life-emails/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
        <p class="nhsuk-body">This is a trial of a new service. You can<a href="/v5.5/pages/opt-in/abm-manage-preferences"> manage your preferences </a> at any time. </p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
        <p class="nhsuk-body"><p>Read NHS Age-based Messaging's <a href="http://digital.nhs.uk/developer/api-catalogue/digital-child-health-fhir/dch-privacy-notice">privacy notice</a> for more information on how the NHS uses your data, and how your change will be applied.</p>
      </div>
  </div>
</div>
{% endblock %}
