{% extends 'layout.html' %}
{% set version = "v5.5" %}
{% set hub = "Profile" %}
{% set backLink = true %}
{% set pageHeading = "Manage your preferences for Age-Based Messaging" %}
{% set pageDescription = "You can choose whether to receive NHS age-based messages about your baby. These are sent at key moments in your baby's first year with reminders and guidance about appointments, check-ups and more." %}

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ dynamicPageTitle({
    title: pageHeading,
    titleSmall: true,
    titleHiddenTextBefore: "Message from",
    description: pageDescription,
    descriptionMuted: true
    })}}
      <form method="post" action="preferences-1-post">
    {{ radios({
idPrefix: "opt-in-preferences",
name: "opt-in-preferences",
fieldset: {
legend: {
text: "Do you want to stop getting these messages?",
size: "m",
isPageHeading: true
}
},
hint: {
text: "Select 1 option"
},
items: [
{
value: "Stop",
text: "Yes, I want to stop receiving messages"
},
{
value: "Continue",
text: "No, keep sending me messages"
}
]
}) }}
    {{ button({
    text: "Save",
    classes: "nhsapp-button"
    }) }}
      </form>


  </div>
</div>

{% endblock %}