{% extends 'layout-app.html' %}
{% set version = "v5" %}
{% set hub = "Messages" %}
{% set backLink = true %}

{% set pageHeading = "NHS Best Start in Life" %}
{% set pageDescription = "Received today at 1:02pm" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

<div class="nhsuk-u-margin-bottom-7">
      <h1 class="nhsuk-heading-m">Advice on vitamins for babies and young children</h1>
        <h2 class="nhsuk-heading-s">Why vitamins matter</h2>
        <p>Babies and young children may not get enough vitamins A, C and D, even if they feed well.</p>
        <p>Vitamins help babies grow and stay healthy. Taking vitamins is sometimes called 'vitamin supplementation'.</p>

        <h2 class="nhsuk-heading-s">What vitamins to take</h2>
        <p>All children aged 6 months to 5 years are recommended to take daily vitamins of A, C and D.</p>
        <p>Babies who have 500ml or more of formula milk a day do not need extra vitamins until they are having less formula milk.</p>
        <p>You can buy vitamins at your local pharmacy.</p>
        <p>If you are receiving NHS Healthy Start payments, you can <a href="https://www.healthystart.nhs.uk/getting-vitamins/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">get these vitamins for free.</a></p>
  
        <p>Remember, supplements are not a replacement for healthy eating habits.</p>

        <h2 class="nhsuk-heading-s">Be careful not to double dose</h2>
        <p>Having too much of some vitamins can be harmful.</p>
        <p>Keep to the dose recommended on the label, and be careful not to give your child 2 supplements at the same time.</p>
        <p>If your child has already been prescribed vitamins or has allergies or you want to check which supplements to give, consult your health visitor, doctor or pharmacist.</p>
        <p>Find out more about <a href="https://www.nhs.uk/baby/weaning-and-feeding/vitamins-for-children/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">giving vitamins to children.</a></p>


                <h2 class="nhsuk-heading-s">Found this useful? Sign up for email support</h2><br>
        <p><a href="https://www.nhs.uk/best-start-in-life/start-for-life-emails/?wt.mc_id=AGERELATED-DCHinform01&wt.tsrc=app">Sign up for free</a> to receive regular emails tailored to your baby's age.</p>
                <h2 class="nhsuk-heading-s">If you do not want to receive these messages</h2>
       <p class="nhsuk-body">This is a trial of a new service. You can opt out by visiting <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice">www.nhs.uk/your-nhs-data-matters/manage-your-choice</a></p>
                          <h2 class="nhsuk-heading-s">Data protection</h2>
<p class="nhsuk-body"><p>Read NHS Age Based Messaging's <a href="http://digital.nhs.uk/developer/api-catalogue/digital-child-health-fhir/dch-privacy-notice">privacy notice.</a>

    </div>
  </div>
{% endblock %}        