{% extends 'layout.html' %}
{% set version = "v2" %}
{% block pageTitle %}
  NHS App prototype for Digital Child Health
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Digital Child Health NHS App prototype</h1>
      <p class="nhsuk-lede-text">
        A prototype for Digital Child Health to test new design components and patterns for the NHS App.
      </p>
   
      
          
       <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2>V2</h2>
          <h3>Pages</h3>
      <ul clas="nhsuk-list">
        <li>
          <a href="/v2/pages/ios-notification-message">Notification</a>
        </li>        
        <li> 
          <a href="/v2/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
        <li>
          <a href="/v2/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>
        <li>
          <a href="/v2/pages/home-p9">Parent home</a>
        </li>        
        <li>
          <a href="/v2/pages/home-linked-profiles">Child home</a>
        </li>        
      </ul>     
      
       
      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

<h2>v1</h2>
    <h3>Starters</h3>
      <ul clas="nhsuk-list">
        <li>
          <a href="/v1/pages/ios-notification-message">Notification</a>
        </li>        
        <li>
          <a href="/v1/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
         <li>
          <a href="/v1/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>

      </ul>     


      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

 

      <h3>Parent</h3>
      <ul clas="nhsuk-list">
        <li>
          <a href="/v1/pages/home-p9">Home</a>
        </li>
        <li>
          <a href="/v1/pages/abm-messages/all-abm-messages">List of age based messages (jumping off point for age based messaging)</a>
        </li>
      </ul>
        <li>
          <a href="/v1/pages/messages/your-messages">List of messages (jumping off point for blood spot)</a>
        </li>
      </ul>
   <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h3>Blood spot all clear notification messages - different variants. need to add the SCID / CF variants</h3>
      <ul clas="nhsuk-list">
        <li>
          <a href="/v1/pages/messages/message-1">Blood spot message we tested before Christmas</a>
        </li>
        <li>
          <a href="/v1/pages/messages/message-1-blood-spot-simpler">Simpler message</a>
        </li>
        <li>
          <a href="/v1/pages/messages/message-1-blood-spot-simpler-callout">Simpler message with 'none suspected' call out</a>
        </li>        
      </ul>
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h3>Linking</h3>
      <ul clas="nhsuk-list">
        <li>
          <a href="/v1/pages/account-and-settings/linked-profiles">Change profile</a>
        </li>
        <li>
          <a href="/v1/pages/account-and-settings/switch-profiles">Change confirm</a>
        </li>
        <li>
          <a href="/v1/pages/account-and-settings/switch-profiles-back">Change back</a>
        </li>        
      </ul>

      

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h3>Child</h3>
      <ul clas="nhsuk-list">
        <li>
          <a href="/v1/pages/baby/view-and-manage-infant">Home</a>
        </li>
        <li>
          <a href="/v1/pages/baby/birth-details">Birth details</a>
        </li>
        <li>
          <a href="/v1/pages/baby/nipe">NIPE</a>
        </li>    
        <li>
          <a href="/v1/pages/baby/hearing-screening">Hearing screening</a>
        </li>    
        <li>
          <a href="/v1/pages/baby/blood-spot">Bloodspot</a>
        </li>                     
      </ul>
   
 <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">      

      <h2>Help improve the NHS App prototype</h2>

      <p>We welcome feedback and suggestions to help improve the NHS App prototype.</p>

      <p>If you have any ideas, feature requests, or issues to report, please <a href="https://github.com/nhsuk/nhsapp-prototype/issues">submit an issue on GitHub</a>.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2>Built using</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "NHS prototype kit"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-prototype-kit/releases'><span class='nhsuk-u-visually-hidden'>NHS prototype kit </span>v8.0.0</a>"
            }
          },
          {
            key: {
              text: "NHS.UK frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS.UK frontend </span>v10.3.1</a>"
            }
          },
          {
            key: {
              text: "NHS App frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsapp-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS App frontend </span>v5.0.1</a>"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
