{% extends 'layout.html' %}
{% block pageTitle %}
  NHS App prototype for Digital Child Health
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Digital Child Health NHS App prototype</h1>
      <p class="nhsuk-lede-text">
        A prototype for Digital Child Health to test new design components and patterns for the NHS App.
      </p>

      <h2>V5</h2>
          <p class="nhsuk-body-l">Updates from May 2026 onwards.</p>
          <p class="nhsuk-body">April 2026 added the opt out screens and flow </p>   
          <p class="nhsuk-body">12/05/2026 added three research flows </p>
        <p class="nhsuk-body">14/06/2026: Updated the opt out flow as unsubscribe, radio button selection and confirmation pages</p>
          <p class="nhsuk-body">15/06/2026: Added an "manage your preferences" flow with three confirmation branches</p>
      <h2>Content pages</h2>          
          
      <ul class="nhsuk-list">
        <li>
          <a href="/v5.4/pages/ios-notification-message">Notification</a>
        </li>        
        <li> 
          <a href="/v5.4/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
        <li>
          <a href="/v5.4/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>
        <li>
          <a href="/v5.4/pages/home-p9">Parent home</a>
        </li>        
        <li>
          <a href="/v5.4/pages/home-linked-profiles">Child home</a>
        </li>        
      </ul>     

      <h2>Opt Out Pages</h2> 

      <ul class="nhsuk-list">
        <li> 
          <a href="/v5.1/pages/opt-out/national-opt-out">Generic national start</a>
        </li>        
        <li>
          <a href="/v5.4/pages/opt-out/ios-notification-message-start">"Unsubscribe" from ABM specific start</a>
        </li>
        <li>
          <a href="/v5.4/pages/opt-in/abm-manage-preferences">"Manage preferences" for ABM specific start</a>
        </li>
        <li>
          <a href="/v5.1/pages/opt-out/preferences">App style preferences</a>
        </li>
        <li>
          <a href="/v5.1/pages/opt-out/preferences-1">Web style preferences</a>
        </li>            
      </ul>        

      <h2>Research flows</h2> 

      <ul class="nhsuk-list">
        <li> 
          <a href="/v5.1/pages/ios-notification-message">Journey 1 - Generic message, no Proxy</a>
        </li>        
        <li>
          <a href="/v5.2/pages/ios-notification-message">Journey 2 - Generic message, with Proxy</a>
        </li>        
        <li>
          <a href="/v5.3/pages/ios-notification-message">Journey 3 - Specific message, no Proxy</a>
        </li>       
        <li>
          <a href="/v5.4/pages/ios-notification-message">Journey 4 - Specific message, with Proxy</a>
        </li>              
      </ul>        
      
       
      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">


      <h2>V4</h2>
          <p class="nhsuk-body-l">April 2026</p>
          <p class="nhsuk-body">01/04/2026: ABM SMS Content updated</p>
          <p class="nhsuk-body">07/04/2026: Added new proxy access request pages and flow</p>

          
      <h2>Prototype flows</h2>          
      <ul class="nhsuk-list">
        <li>
          <a href="/v4/pages/ios-notification-message">Flow 1 - User has Proxy acess</a>
        </li>    
        <li>
          <a href="/v4.5/pages/ios-notification-message">Flow 2 - User requests Proxy acess</a>
        </li> 
        </ul>  
        <h2>General screens</h2>  
        <ul class="nhsuk-list">            
        <li> 
          <a href="/v4/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
        <li>
          <a href="/v4/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>
        <li>
          <a href="/v4/pages/home-p9">Parent home</a>
        </li>        
        <li>
          <a href="/v4/pages/home-linked-profiles">Child home</a>
        </li>        
      </ul> 
   
      
          
       <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2>V3</h2>
          <p class="nhsuk-body-l">Updated March 2026 with new content.</p>
          <p class="nhsuk-body">This version includes some updated content for the ABMs, as well as the beginnings of some deeper thinking into the IA possibilites.</p>
          <p class="nhsuk-body">13/03/2026: Changes made to Blood spot, NIPE, Hearing, and Birth Details after SME feedback.</p>
          <p class="nhsuk-body">23/03/2026: Updated outcome messages to match S4H/N. Added location to hearing. Updated link on the hearing screen. Changed IA to match app team.</p>    
          <p class="nhsuk-body">24/03/2026: Aligning with the app team. Changed titles for "newborn records" on the test results screens. Moved birth details from the deprecated "health record" into the proxy profile screen. </p>      
          <p class="nhsuk-body">Locked for research - 27/03/2026: Final ABM changes. Small content tweaks from Tashfeen's feedback to record pages. </p>                
          
          
      <ul class="nhsuk-list">
        <li>
          <a href="/v3/pages/ios-notification-message">Notification</a>
        </li>        
        <li> 
          <a href="/v3/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
        <li>
          <a href="/v3/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>
        <li>
          <a href="/v3/pages/home-p9">Parent home</a>
        </li>        
        <li>
          <a href="/v3/pages/home-linked-profiles">Child home</a>
        </li>        
      </ul>     
      
       
      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">



      <h2>V2</h2>
          <p class="nhsuk-body-l">Updated February 2026 with new app IA.</p>
          <p class="nhsuk-body">This version began to include the wider app IA changes coming in Q2~ 2026.</p>
      <ul class="nhsuk-list">
        <li>
          <a href="/v2/pages/ios-notification-message">Notification</a>
        </li>        
        <li> 
          <a href="/v2/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
        <li>
          <a href="/v2/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>
        <li>
          <a href="/v2/pages/home-p9">Parent home</a>
        </li>        
        <li>
          <a href="/v2/pages/home-linked-profiles">Child home</a>
        </li>        
      </ul>     
      
       
      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

<h2>V1</h2>
    <h3>Starters</h3>
      <ul class="nhsuk-list">
        <li>
          <a href="/v1/pages/ios-notification-message">Notification</a>
        </li>        
        <li>
          <a href="/v1/pages/abm-messages/all-abm-messages">All age based messages in SMS format</a>
        </li>
         <li>
          <a href="/v1/pages/abm-messages/your-messages-abm">All age based messages in app</a>
        </li>

      </ul>     


      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

 

      <h3>Parent</h3>
      <ul class="nhsuk-list">
        <li>
          <a href="/v1/pages/home-p9">Home</a>
        </li>
        <li>
          <a href="/v1/pages/abm-messages/all-abm-messages">List of age based messages (jumping off point for age based messaging)</a>
        </li>
        <li>
          <a href="/v1/pages/messages/your-messages">List of messages (jumping off point for blood spot)</a>
        </li>
      </ul>
   <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h3>Blood spot all clear notification messages - different variants. need to add the SCID / CF variants</h3>
      <ul class="nhsuk-list">
        <li>
          <a href="/v1/pages/messages/message-1">Blood spot message we tested before Christmas</a>
        </li>
        <li>
          <a href="/v1/pages/messages/message-1-blood-spot-simpler">Simpler message</a>
        </li>
        <li>
          <a href="/v1/pages/messages/message-1-blood-spot-simpler-callout">Simpler message with 'none suspected' call out</a>
        </li>        
      </ul>
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h3>Linking</h3>
      <ul class="nhsuk-list">
        <li>
          <a href="/v1/pages/account-and-settings/linked-profiles">Change profile</a>
        </li>
        <li>
          <a href="/v1/pages/account-and-settings/switch-profiles">Change confirm</a>
        </li>
        <li>
          <a href="/v1/pages/account-and-settings/switch-profiles-back">Change back</a>
        </li>        
      </ul>

      

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h3>Child</h3>
      <ul class="nhsuk-list">
        <li>
          <a href="/v1/pages/baby/view-and-manage-infant">Home</a>
        </li>
        <li>
          <a href="/v1/pages/baby/birth-details">Birth details</a>
        </li>
        <li>
          <a href="/v1/pages/baby/nipe">NIPE</a>
        </li>    
        <li>
          <a href="/v1/pages/baby/hearing-screening">Hearing screening</a>
        </li>    
        <li>
          <a href="/v1/pages/baby/blood-spot">Bloodspot</a>
        </li>                     
      </ul>
   
 <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">      

      <h2>Help improve the NHS App prototype</h2>

      <p>We welcome feedback and suggestions to help improve the NHS App prototype.</p>

      <p>If you have any ideas, feature requests, or issues to report, please <a href="https://github.com/nhsuk/nhsapp-prototype/issues">submit an issue on GitHub</a>.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible app-section-break--width-4">

      <h2>Built using</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "NHS prototype kit"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-prototype-kit/releases'><span class='nhsuk-u-visually-hidden'>NHS prototype kit </span>v8.0.1</a>"
            }
          },
          {
            key: {
              text: "NHS.UK frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS.UK frontend </span>v10.3.1</a>"
            }
          },
          {
            key: {
              text: "NHS App frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsapp-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS App frontend </span>v5.0.1</a>"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
