{% extends 'layout.html' %}
{% set version = "v5.4" %}
{% set hub = "Profile" %}
{% set backLink = true %}
{% set pageHeading = "Unsubscribe from Age-Based Messages" %}
{% set pageDescription = "You are currently receiving age-based messages. These are sent at key moments in your baby's first year with reminders and guidance about appointments, check-ups and more. Would you like to stop receiving the messages?" %}

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ dynamicPageTitle({
    title: pageHeading,
    titleSmall: true,
    titleHiddenTextBefore: "Message from",
    description: pageDescription,
    descriptionMuted: true
    })}}





    {{ button({
    text: "Ubsubscribe",
    classes: "nhsapp-button"
    }) }}


  </div>
</div>

{% endblock %}
