
{{ header({
  service: {
    text: 'App<span class="nhsuk-u-visually-hidden"> homepage</span>' | safe,
    href: "pages/home-" + ("linked-profiles" if linkedProfile else data['accountType'])
  },
  account: {
    classes: 'nhsapp-u-hide-until-tablet',
    items: [
      {
        text: 'Help and support',
        href: '#'
      },
      {
        text: 'Account',
        href:  "pages/account-and-settings-" + ("linked-profiles" if linkedProfile else data['accountType'])
      },
      {
        text: 'Log out',
        href: '#'
      }
    ]
  },
  navigation: {
    items: [
      {
        text: 'Home',
        href: "pages/home-" + ("linked-profiles" if linkedProfile else data['accountType'])
      },
      {
        text: 'Services',
        href:  "pages/services-" + ("linked-profiles" if linkedProfile else data['accountType'])
      },
      {
        text: 'Your health',
        href:  "pages/your-health-" + ("linked-profiles" if linkedProfile else data['accountType'])
      },
      {
        text: 'Messages',
        href: linkedProfile ? "pages/messages/messages-linked-profiles" : (version === 'v6' ? "pages/opt-in/your-messages-abm-app" : (version === 'v1' ? "pages/abm-messages/your-messages-abm" : "pages/messages-" + data['accountType']))
      },
      {
        text: 'Help and support',
        href:  "#",
        classes: 'nhsapp-u-hide-from-tablet'
      },
      {
        text: 'Account',
        href:  "pages/account-and-settings-" + ("linked-profiles" if linkedProfile else data['accountType']),
        classes: 'nhsapp-u-hide-from-tablet'
      },
      {
        text: 'Log out',
        href:  "#",
        classes: 'nhsapp-u-hide-from-tablet'
      }
    ]
  }
}) }}